In [ ]:
import pandas as pd
import os
import errno
import yaml

# import functions file
import sys
file = 'etl.py'
sys.path.insert(0,os.path.dirname(os.path.abspath(file)))
import etl

In [ ]:
pd.set_option('display.max_rows', None)

### Set variables

In [ ]:
config_et_file_name = 'config_et.yml'

item_ADDITIONAL_INFORMATION_FILES = 'ADDITIONAL_INFORMATION_FILES'

item_FILES_TO_PROCESS = 'FILES_TO_PROCESS'

item_JOIN_FILES_COMMON_COLUMNS = 'JOIN_FILES_COMMON_COLUMNS'

item_COLUMNS_TO_DROP = 'COLUMNS_TO_DROP'

item_UPDATE_COLUMN_VALUES = 'UPDATE_COLUMN_VALUES'

item_NEW_COLUMNS = 'NEW_COLUMNS'

item_OUTPUT_FILE_NAME = 'OUTPUT_FILE_NAME'

item_UPDATE_COLUMN_NAMES = 'UPDATE_COLUMN_NAMES'

### 1. Extract

In [ ]:
extract_and_join_
files = etl.extract_and_join_files(config_et_file_name, item_FILES_TO_PROCESS, item_ADDITIONAL_INFORMATION_FILES, item_JOIN_FILES_COMMON_COLUMNS)

### 2. Transform

In [ ]:
drop_not_used_columns = etl.drop_not_used_columns(config_et_file_name, item_COLUMNS_TO_DROP, extract_and_join_files)

In [ ]:
update_column_values = etl.update_column_values(config_et_file_name, item_UPDATE_COLUMN_VALUES, drop_not_used_columns)

In [ ]:
add_new_columns = etl.add_new_columns(config_et_file_name, item_NEW_COLUMNS, update_column_values)

In [ ]:
update_column_names = etl.update_column_names(config_et_file_name, item_UPDATE_COLUMN_NAMES, add_new_columns)

In [ ]:
etl.export_dataframe(config_et_file_name, item_OUTPUT_FILE_NAME, update_column_names)

In [ ]:
from fn_graph import Composer

composer = Composer().update(
    list_of_variables,
    extract_and_join_files
    #drop_not_used_columns,
    #update_column_values,
    #add_new_columns,
    #update_column_names,
    #export_dataframe
)

composer.graphviz()

In [ ]:
composer.etl_extract_and_join_files()
#composer.drop_not_used_columns()
#composer.update_column_values()
#composer.add_new_columns()
#composer.update_column_names()
#composer.export_dataframe()
#composer.export_dataframe()

In [ ]:
from fn_graph import Composer

import sys
file = 'etl.py'
sys.path.insert(0,os.path.dirname(os.path.abspath(file)))
import etl
    
config_et_file_name = 'config_et.yml'

item_ADDITIONAL_INFORMATION_FILES = 'ADDITIONAL_INFORMATION_FILES'

item_FILES_TO_PROCESS = 'FILES_TO_PROCESS'

item_JOIN_FILES_COMMON_COLUMNS = 'JOIN_FILES_COMMON_COLUMNS'

item_COLUMNS_TO_DROP = 'COLUMNS_TO_DROP'

item_UPDATE_COLUMN_VALUES = 'UPDATE_COLUMN_VALUES'

item_NEW_COLUMNS = 'NEW_COLUMNS'

item_OUTPUT_FILE_NAME = 'OUTPUT_FILE_NAME'

item_UPDATE_COLUMN_NAMES = 'UPDATE_COLUMN_NAMES'
    
    
def execute_extract_and_join_files(config_et_file_name, item_FILES_TO_PROCESS, 
                                      item_ADDITIONAL_INFORMATION_FILES, item_JOIN_FILES_COMMON_COLUMNS):
    
    """
    Execute 
    
    """
    
    return etl.extract_and_join_files(config_et_file_name, item_FILES_TO_PROCESS, item_ADDITIONAL_INFORMATION_FILES, item_JOIN_FILES_COMMON_COLUMNS)


def execute_drop_not_used_columns(config_et_file_name, item_COLUMNS_TO_DROP, execute_extract_and_join_files):
    
    return etl.drop_not_used_columns(config_et_file_name, item_COLUMNS_TO_DROP, execute_extract_and_join_files)


def execute_update_column_values(config_et_file_name, item_UPDATE_COLUMN_VALUES, execute_drop_not_used_columns):

    return update_column_values(config_et_file_name, item_UPDATE_COLUMN_VALUES, execute_drop_not_used_columns)


def execute_add_new_columns(config_et_file_name, item_NEW_COLUMNS, execute_update_column_values):

    return etl.add_new_columns(config_et_file_name, item_NEW_COLUMNS, execute_update_column_values)


def execute_update_column_names(config_et_file_name, item_UPDATE_COLUMN_NAMES, execute_add_new_columns):

    return etl.update_column_names(config_et_file_name, item_UPDATE_COLUMN_NAMES, execute_add_new_columns)


def export_dataframe(config_et_file_name, item_OUTPUT_FILE_NAME, execute_update_column_names):

    etl.export_dataframe(config_et_file_name, item_OUTPUT_FILE_NAME, execute_update_column_names)


composer = Composer().update(
    execute_extract_and_join_files,
    execute_drop_not_used_columns,
    execute_update_column_values,
    execute_add_new_columns,
    execute_update_column_names,
    export_dataframe    
)

composer.graphviz()

In [ ]:
from fn_graph import Composer

import sys
file = 'etl.py'
sys.path.insert(0,os.path.dirname(os.path.abspath(file)))
import etl
    
config_et_file_name = 'config_et.yml'

item_ADDITIONAL_INFORMATION_FILES = 'ADDITIONAL_INFORMATION_FILES'

item_FILES_TO_PROCESS = 'FILES_TO_PROCESS'

item_JOIN_FILES_COMMON_COLUMNS = 'JOIN_FILES_COMMON_COLUMNS'

item_COLUMNS_TO_DROP = 'COLUMNS_TO_DROP'

item_UPDATE_COLUMN_VALUES = 'UPDATE_COLUMN_VALUES'

item_NEW_COLUMNS = 'NEW_COLUMNS'

item_OUTPUT_FILE_NAME = 'OUTPUT_FILE_NAME'

item_UPDATE_COLUMN_NAMES = 'UPDATE_COLUMN_NAMES'
    
    
def execute_extract_and_join_files('config_et.yml', 'FILES_TO_PROCESS', 'ADDITIONAL_INFORMATION_FILES', 'JOIN_FILES_COMMON_COLUMNS'):

    return etl.extract_and_join_files(config_et_file_name, item_FILES_TO_PROCESS, item_ADDITIONAL_INFORMATION_FILES, item_JOIN_FILES_COMMON_COLUMNS)


def execute_drop_not_used_columns('config_et.yml', 'COLUMNS_TO_DROP', execute_extract_and_join_files):
    
    return etl.drop_not_used_columns(config_et_file_name, item_COLUMNS_TO_DROP, execute_extract_and_join_files)


def execute_update_column_values('config_et.yml', 'UPDATE_COLUMN_VALUES', execute_drop_not_used_columns):

    return update_column_values(config_et_file_name, item_UPDATE_COLUMN_VALUES, execute_drop_not_used_columns)


def execute_add_new_columns('config_et.yml', 'NEW_COLUMNS', execute_update_column_values):

    return etl.add_new_columns(config_et_file_name, item_NEW_COLUMNS, execute_update_column_values)


def execute_update_column_names('config_et.yml', item_UPDATE_COLUMN_NAMES, execute_add_new_columns):

    return etl.update_column_names(config_et_file_name, item_UPDATE_COLUMN_NAMES, execute_add_new_columns)


def export_dataframe('config_et.yml', item_OUTPUT_FILE_NAME, execute_update_column_names):

    etl.export_dataframe(config_et_file_name, item_OUTPUT_FILE_NAME, execute_update_column_names)


composer = Composer().update(
    execute_extract_and_join_files,
    execute_drop_not_used_columns,
    execute_update_column_values,
    execute_add_new_columns,
    execute_update_column_names,
    export_dataframe    
)

composer.graphviz()

In [ ]:
composer.execute_extract_and_join_files()

### 3. Load

In [ ]:
import psycopg2
import paramiko

In [ ]:
config_load_file_name = 'config_load.yml'
item_DATABASE_CREDENTIALS = 'DATABASE_CREDENTIALS'
item_FILE_TO_UPLOAD = 'FILE_TO_UPLOAD'
item_NEW_TABLE_COLUMNS = 'NEW_TABLE_COLUMNS'
item_TABLE_NAME = 'TABLE_NAME'

In [ ]:
### Get database credentials (DATABASE_CREDENTIALS)

# read information from config file
database_credentials = get_yml_item_value(config_load_file_name, item_DATABASE_CREDENTIALS)

# num to check if it is the firsts value of a key
num = len(database_credentials)

# get values of conection database into a string
for key in database_credentials:
    
    if num == len(database_credentials):
        
        DB_CONNECTION_STRING = key.lower() + '=%s ' % database_credentials[key] 
    
    else:
        
        DB_CONNECTION_STRING = DB_CONNECTION_STRING + key.lower() + '=%s ' % database_credentials[key] 
    
    num -= 1

# delete last empty element from connection string
DB_CONNECTION_STRING = DB_CONNECTION_STRING.rstrip(DB_CONNECTION_STRING[-1])

### Open database conection
try: 
    conn = psycopg2.connect(DB_CONNECTION_STRING)
    
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cursor = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor")
    print(e)

conn.set_session(autocommit=True)

In [ ]:
### create new table in the database (NEW_TABLE_COLUMNS)

# read columns to create new table from config file
new_table_columns = get_yml_item_value(config_load_file_name, item_NEW_TABLE_COLUMNS)

# get the table name
table_name = get_yml_item_value(config_load_file_name, item_TABLE_NAME)[0].lower()

# num to check if it is the firsts value of a key
num = len(new_table_columns)

# get values columns to build the sql statement to create the new table 
for key in new_table_columns:
    
    if num == len(new_table_columns):
        
        new_table_statement = ' """CREATE TABLE IF NOT EXISTS ' + table_name + ' (' + key.lower() + ' %s,\n' % new_table_columns[key] + '\t'
    
    elif num == 1:
        
        new_table_statement = new_table_statement + key.lower() + ' %s,\n' % new_table_columns[key] + ')""" ' 
    
    else:
        
        new_table_statement = new_table_statement + key.lower() + ' %s,\n' % new_table_columns[key] + '\t'
    
    num -= 1

new_table_statement = new_table_statement.rstrip(new_table_statement[-1])

print(new_table_statement)

In [ ]:
#~~~~~~~~~~~~~~~~ Continuar aqui, ejecutar el sql statement ~~~~~~~~~~~~~~~~~~~~~~~~`

In [ ]:
### get file to upload

# get file to upload using the csv_file_to_df() function
base_template = csv_file_to_df(config_load_file_name, item_FILE_TO_UPLOAD)
base_template.dtypes

In [ ]:
bitacoras_par = cursor.execute('''SELECT * FROM test;''')
conn.commit()
cursor.fetchall()

In [ ]:
sql = '''SELECT * FROM information_schema.tables;'''
  
cursor.execute(sql)

cursor.fetchall()

In [ ]:
test_table_create = ("""
    CREATE TABLE IF NOT EXISTS test(
        id int PRIMARY KEY,
        lai real NOT NULL);
""")

In [ ]:
def create_table_sql_statement(cursor, conn, sql_statement):
### Function that executes the sql_staement

    for query in sql_statement:
        
        try:
            
            cursor.execute(query)
            
        except psycopg2.Error as e: 
            
            print("Error: Issue executing SQL statement")
            
            print(e)
            
        conn.commit()

In [ ]:
# Create tables
create_table_queries = [test_table_create]
create_tables(cursor, conn)

In [ ]:
# Close the database conection
cursor.close()
conn.close()

### 3.2 Tested scripts

In [ ]:
# delete rows with values = 0
lai_dataFrame = lai_dataFrame[lai_dataFrame['LAI'] != 0]

In [ ]:
lai_dataFrame.shape

In [ ]:
save_dataFrame_to_csv(lai_dataFrame, 'LAI_ACRE_Biomass_y22')

### 4. Test data Frame

In [ ]:
filename = './output/LAI_ACRE_Biomass_y22.csv'

In [ ]:
import numpy as np
df = pd.read_csv(filename)

date_early_stg = '2022-05-31'
date_late_stg ='2022-06-09'

date_early = pd.to_datetime(date_early_stg)
date_late = pd.to_datetime(date_late_stg)

df['DATE'] =  pd.to_datetime(df['DATE'])
df['Days_after_planting'] = np.where(df['environment'] == 'Early', df['DATE'] - date_early, df['DATE'] - date_late) 

save_dataFrame_to_csv(df, 'LAI_ACRE_Biomass_y22')

In [ ]:
# filter season
    dff = df[df['season'] == season]
    fig = px.box(dff, x=dff['LAI'], y=dff['plot'], color='environment', marginal="rug", histfunc='count', labels={
                     "environment": "Date of planting"}, hover_data=dff.columns, color_discrete_map = {'Late':'darkslategrey','Early':'gray'})

    # strip down the rest of the plot
    fig.update_layout(xaxis_title='Leaf area index ',
                      yaxis_title='Frequency',
                      plot_bgcolor='lavender',
                      font_size=20,
                      font_color='#000000',
                      font_family='Old Standard TT')
    return fig

In [ ]:
from fn_graph.examples.credit import composer

book_locations = {
    "book_one":"s3://...",
    "book_two":"s3://...",
}
def loan_data(book_name):
    return pd.read_csv(book_locations[book_name])

production_composer = composer.update(
    loan_data
)